body { 
font-family: Verdana, sans-serif; 
line-height: 1.4;
font-size: 12px;
margin: 0;
padding: 0;
background-color: #E1DBAB; 
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E1DBAB), to(#F8F5E4));
background-image: -webkit-linear-gradient(top, #E1DBAB, #F8F5E4); 
background-image: -moz-linear-gradient(top, #E1DBAB, #F8F5E4);
background-image: -ms-linear-gradient(top, #E1DBAB, #F8F5E4);
background-image: -o-linear-gradient(top, #E1DBAB, #F8F5E4);
}

a { color: #646F00; text-decoration: none;}
a:hover { text-decoration: underline; }
h1 { margin: 0; padding: 0; }
h2 { margin: 0; padding: 0; }

#wrap { 
width: 900px;
margin: 20px auto;
}

#header {
/*background: url(images/header.png) no-repeat;*/
background-color: #EFE6C2;
border: 1px solid #BBB;
border-bottom: none;
height: 100px;
font-family: Georgia, sans-serif; 
}
#header h1 {
margin: 0;
padding: 22px 0 0 30px;
font-weight: 100;
font-size: 27px;
letter-spacing: -1px;
color: #646F00;
}
#header h1 a { text-decoration: none; color: #646F00; }
#header h1 a:hover { text-decoration: none; border-bottom: 1px solid #646F00; }

#header h2 { padding: 0 0 0 30px; margin: 0; color: #696969; font-weight: 100; font-size:18px; }

#menu {
/*background: url(images/menu.png) no-repeat;*/
background-color: #748221; 
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#949D31), to(#748221));
background-image: -webkit-linear-gradient(left, #949D31, #748221); 
background-image: -moz-linear-gradient(left, #949D31, #748221);
background-image: -ms-linear-gradient(left, #949D31, #748221);
background-image: -o-linear-gradient(left, #949D31, #748221);
border: 1px solid #BBB;
height: 40px;
line-height: 40px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 20px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 14px;
font-weight: 100;
}
#menu ul li a:hover {
color: #fff;
background: url(images/menuover.png) repeat-x;
}

#contentwrap {
/*background: url(images/content.png) repeat-y;*/
background-color: #eee;
border: 1px solid #BBB;
border-top: none;
padding-left: 30px;
}

#content {
float: left;
width: 520px;
margin-top: 15px;
}
#content h2 {
margin: 0;
color: #555;
line-height: 30px;
font-size: 17px;
font-weight: 100;
}

#content p { padding: 0 0 10px 0; color: #444;}
#content ul { padding: 0 20px 10px 30px; }

#sidebar {
float: right;
width: 180px;
padding-top: 10px;
background-color: #888;
border-left: 1px solid #BBB;
}

#sidebar h3 {
height: 30px;
line-height: 30px;
font-size: 16px;
font-weight: 100;
margin: 0; padding: 0 0 0 0; 
color: #fff;
}

#sidebar p { padding: 0 10px 10px 10px; color: #fff; }

#sidebar ul {
padding: 10px 0 25px 30px;
margin: 0;
color: #fff;
list-style-type: circle;
}

#sidebar ul li {
padding: 0;
margin: 0;
}

#sidebar ul li a { color: #fff; font-size: 13px;}

#sidebar ul ul { padding: 2px 0 2px 20px; }

#contentbottom {
background-color: #fff;
border: 1px solid #BBB;
border-top: none;
}

#bottomcontent {
background-color: #fff;
padding: 10px 30px;
font-size: 18px;
color: #999;
text-align: center;
font-style: italic;
}

#bottom {
background-color: #fff;
padding: 10px 0;
}

#footer { 
text-align: center;
color: #111;
font-size: 12px;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #111; }
#footer a:hover { text-decoration: underline; }
